h3 {
  color: black;
}

h4 {
  color: black;
}

.faq-headers {
  margin-top: 30px;
}

.faq-text {
  font-size: 16px;
}

.faq {
  text-align: center;
}

@media only screen and (min-width: 200px) and (max-width: 1150px) {
  .sales-terms {
    width: 360px;
    margin-left: 0px;
    font-size: 12px;
    text-align: center;
  }
}
